@use "@royalnavy/css-framework"as rn;


.rn-fw {
  background-color: rn.color("neutral", "700");
}


.rn-fw-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  z-index: 1;
  box-shadow: rn.shadow("2");
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: rn.spacing("4") rn.spacing("10") rn.spacing("4") rn.spacing("10");
  @include rn.breakpoint("s") {
    padding: rn.spacing("4") rn.spacing("10") rn.spacing("4") rn.spacing("14");
  }
  @include rn.breakpoint("m") {
    left: 300px;
    justify-content: flex-end;
  }
}

.rn-fw-bar-ds {
  display: flex;
  align-items: flex-start;
}

.rn-fw-bar-title {
  display: inline-block;
  padding-top: rn.spacing("px");
}

.rn-fw-sidebar-toggle {
  @include rn.breakpoint("m") {
    display: none;
  }
}


.rn-fw-sidebar-close {
  position: absolute;
  z-index: 3;
  right: -60px;
  top: 16px;
}

.rn-fw-sidebar-frame {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: all 0.2s;
  pointer-events: none;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    transition: all 0.2s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    @include rn.breakpoint("m") {
      opacity: 0;
    }
  }

  &.is-open {

    &::before {
      opacity: 1;
      @include rn.breakpoint("m") {
        opacity: 0;
      }
    }
    .rn-fw-sidebar {
      transform: translate3d(0, 0, 0);
    }
  }
  @include rn.breakpoint("m") {
    width: 300px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.rn-fw-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rn.color("neutral", "700");
  transform: translate3d(-120%, 0, 0);
  width: 300px;
  pointer-events: all;
  transition: all 0.2s;
  @include rn.breakpoint("m") {
    transition: none;
    transform: translate3d(0, 0, 0);
  }
}

.rn-fw-sidebar-home-link {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rn.color("neutral", "800");
  color: rn.color("action", "400");
  padding: 0 rn.spacing("12");
}

.rn-fw-sidebar-header {
  padding: rn.spacing("12");
  border-bottom: 4px solid rn.color("neutral", "500");
}

.rn-fw-sidebar-title {
  color: rn.color("neutral", "white");
  margin: rn.spacing("6") 0 0 0;
  font-size: rn.font-size("xl");
  font-weight: 500;
}

.rn-fw-sidebar-scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.rn-fw-sidebar-nav-section {
  padding: rn.spacing("12") 0;
  border-bottom: 4px solid rn.color("neutral", "500");
  &:last-child {
    border-bottom: none;
  }
}

.rn-fw-sidebar-nav-section-title {
  font-size: rn.font-size("s");
  color: rn.color("neutral", "200");
  text-transform: uppercase;
  margin: 0 0 rn.spacing("6") 0;
  font-weight: 400;
  padding: 0 rn.spacing("12");
}

.rn-fw-sidebar-nav-list {
  padding: 0;
  &.is-code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    .rn-fw-sidebar-nav-link {
      padding-top: rn.spacing("5");
    }
  }

}
.rn-fw-sidebar-nav-list-item {
  list-style: none;
  margin: rn.spacing("2") 0 0 0;
  padding: 0;
}

.rn-fw-sidebar-nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: rn.spacing("2") solid transparent;
  padding: rn.spacing("4") rn.spacing("12") rn.spacing("4") calc(2rem - 4px);
  color: rn.color("neutral", "white");
  font-weight: 100;
  z-index: 1;
  &:hover,
  &.is-active {
    border-left-color: rn.color("action", "400");
    color: rn.color("neutral", "white");
    text-decoration: none;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rn.color("action", "600");
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.rn-fw-sidebar-nav-link-child {
  font-size: rn.font-size("s");
  margin-left: rn.spacing("2");
  &::before {
    content: "-";
    margin-right: rn.spacing("4");
  }
}




/***********************************/

.rn-fw-page-title {
  font-size: rn.font-size("display-l");
  font-weight: 700;
  margin: rn.spacing("8") 0;
  color: rn.color("neutral", "600");
  letter-spacing: -1px;
}

.rn-fw-page-lede {
  font-size: rn.font-size("l");
  font-weight: 200;
  color: rn.color("neutral", "400");
}

.rn-fw-content {
  font-size: rn.font-size("base");
  color: rn.color("neutral", "400");
  font-weight: 200;
  padding-top: 60px;
  @include rn.breakpoint("m") {
    padding-left: 300px;
  }
}


.rn-fw-row {
  display: flex;
  flex-direction: column;
  @include rn.breakpoint("xl") {
    align-items: stretch;
    justify-content: stretch;
    flex-direction: row;
  }
}

.rn-fw-copy {
  border-top: 4px solid rn.color("neutral", "000");
  background-color: rn.color("neutral", "white");
  padding: rn.spacing("12") rn.spacing("10");
  width: 100%;

  @include rn.breakpoint("s") {
    padding: rn.spacing("14");
  }

  @include rn.breakpoint("xl") {
    width: 50%;
  }

  @media only screen and (min-width: 1900px) {
    width: 900px;
    padding: rn.spacing("15");
  }

  &.rn-fw-hero {
    padding: rn.spacing("14") rn.spacing("10");
    @include rn.breakpoint("s") {
      padding: rn.spacing("16") rn.spacing("14");
    }
    @media only screen and (min-width: 1900px) {
      padding: rn.spacing("16") rn.spacing("15");
    }
  }

  > * {
    @include rn.breakpoint("s") {
      max-width: 750px;
    }
    @include rn.breakpoint("xl") {
      max-width: 100%;
    }
  }
}

.rn-fw-code {
  background-color: rn.color("neutral", "700");
  padding-top: rn.spacing("8");
  width: 100%;
  @include rn.breakpoint("xl") {
    border-top: 4px solid rn.color("neutral", "600");
    width: 50%;
    padding-top: rn.spacing("15");
    padding-bottom: rn.spacing("13");
  }
  @media only screen and (min-width: 1900px) {
    width: calc(100% - 900px);
  }
  &:empty {
    display: none;
    @include rn.breakpoint("xl") {
      display: block;
    }
  }
}

.rn-fw-code-file {
  display: block;
  padding: 0 rn.spacing("12") rn.spacing("8") rn.spacing("12");
  color: rn.color("neutral", "200");
}



.rn-fw-api {
  border: 1px solid rn.color("neutral", "100");
  border-radius: 3px;
  box-shadow: rn.shadow("1");
  margin-top: rn.spacing("12");
  & + & {
    margin-top: rn.spacing("9");
  }
  max-width: 750px;
}

.rn-fw-api-header {
  padding: rn.spacing("8") rn.spacing("7") rn.spacing("8") rn.spacing("10");
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rn-fw-api-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: rn.font-size("m");
  margin: 0;
  .rn-badge {
    font-family: rn.$font-family;
  }
}

.rn-fw-api-body {
  background-color: rn.color("neutral", "000");
  padding: rn.spacing("8") rn.spacing("8") rn.spacing("8") rn.spacing("10");
}

.rn-fw-api-row {
  display: flex;
  align-items: flex-start;
  & + & {
    margin-top: rn.spacing("4");
  }
}

.rn-fw-api-item {
  width: 120px;
  text-transform: uppercase;
  font-size: rn.font-size("s");
  color: rn.color("neutral", "300");
  font-weight: 500;
  margin-top: rn.spacing("4");
  transform: translateY(-1px);
}

.rn-fw-api-value {
  width: calc(100% - 120px);
  padding-top: rn.spacing("px");
  font-size: rn.font-size("base");
  @include rn.breakpoint("m") {
    font-size: rn.font-size("m");
  }
  code {
    font-size: rn.font-size("base");
    font-family: 'Courier New', Courier, monospace;
    color: rn.color("action", "600");
    font-weight: 700;
    letter-spacing: -0.5px;
    transform: translateY(-1px);
    line-height: 1.3;
    padding: rn.spacing("2") rn.spacing("6");
    display: inline-block;
    border-radius: 2px;
    background-color: rn.color("action", "000");
    margin-left: -10px;
  }
}







// Scoped markdown styles
.rn-fw-md {

  a {
    transition: all 0.2s;
    text-decoration: underline;
    color: rn.color("action", "500");
    &:hover {
      color: rn.color("supa", "500");
    }
  }

  pre {
    background-color: rn.color("neutral", "800");
    max-width: 100%;
    overflow-x: scroll;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    code {
      line-height: 1.4;
    }
  }

  code {
    font-family: 'Courier New', Courier, monospace;
  }

  > h1:not(.rn-fw-page-title),
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
    font-weight: 300;
    color: rn.color("neutral", "600");
    margin-bottom: rn.spacing("10");
  }

  > h2 {
    letter-spacing: -0.4px;
    font-size: rn.font-size("xxl");
  }

  ol,
  ul,
  p {
    + p {
      margin-top: rn.spacing("7");
    }
    + h3 {
      margin-top: rn.spacing("12");
    }
    + ul,
    + ol {
      margin-top: rn.spacing("7");
    }
  }


}
